.slides {
    /* margin: 4vw; */
    width: max-content;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 2vw;
    width: 100%;
    height: 100%;
    background: none;
    background-color: transparent;
    pointer-events: none;
  }
  .slides-iframe {
    
    height: 72vh;
    width: 100%;
    background-color: #001B28;
    border: none;
  }
  .loadingIcon {
    position: relative;
    top: 30vh;
    left: 50vh;
  }
  
  
  
  
  
  