.main-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
}
.appnavbar {
  position: absolute;
  width: 100%;
}
.app-landing-container {
  background-color: #001b28;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
.overlay-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 6.8vh;
  width: 50vh;
  background-color: rgb(230, 165, 0);
  color: white;
  border: none;
  border-radius: 3.25vw;
  font-size: 1.4vw;
  font-weight: 700;
  justify-content: center;
  gap:10px;
  align-items: center;
}
.image-stack{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height:40%;
  /* background: red; */
}
.button-shade{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75%;
  background-color: rgba(230, 165, 0, 0.06);   
  border-radius: 12vw;
}

.button-shade1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75%;
  background-color: rgba(230, 165, 0, 0.1);   
  border-radius: 12vw;
}

.button-shade2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75%;
  background-color: rgba(230, 165, 0, 0.1);   
  border-radius: 8vw;
}
.button-shade3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75%;
  background-color: rgba(230, 165, 0, 0.1);   
  border-radius: 8vw;
}


.overlay-button img {
  height: 4vh;
  width: auto;
}

@media screen and (max-width: 600px){
 
  .overlay-button{
    width: 56vw;
    border-radius: 3.25vh;
    height: auto;
    font-size: 1.8vh;
  }
  .image-stack{
    width: 100%;
    height:30%;
  }
  .button-shade{  
    border-radius: 12vh;
  }
  
  .button-shade1{  
    border-radius: 12vh;
  }
  .button-shade2{  
    border-radius: 8vh;
  }
  .button-shade3{
    border-radius: 8vh;
  }
  .overlay-button img {
    height: 3vh;
    width: auto;
  }
}

