.history-preview-overlay {
  position: absolute;
  top: 7.8vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  transition: width 2s;
  z-index: 10;
}
.history-preview-bar {
  background-color: #1a323e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 26vh;
  border-bottom: 1px solid rgba(230, 165, 0, 0.5);
  z-index: 0;
  padding: 0px 15px 5px 15px;
}
.history-preview-cards-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.see-more-container {
  width: 98%;
  height: fit-content;
  padding: 3px 0px 2px 0px;
  display: flex;
  justify-content: center;
  color: #e6a500;
  background-color: rgb(255, 255, 255, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
