
.div {
    background-color: #001b28;
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    border-radius: 50%;
    background-color: #e6a500;
    display: flex;
    width: 100%;
    padding-bottom: 14px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    border-radius: 50%;
    background-color: #001b28;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2px 0 50px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    background-color: #001723;
    display: flex;
    width: 100%;
    padding-top: 16px;
    flex-direction: column;
    font-size: 16px;
    color: #e6a500;
    font-weight: 400;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  .div-5 {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1202px;
    justify-content: space-between;
    gap: 20px;
    padding: 0 1px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img {
    aspect-ratio: 2.44;
    object-fit: auto;
    object-position: center;
    width: 157px;
    max-width: 100%;
  }
  .div-6 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: auto 0;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-7 {
    font-family: Poppins, sans-serif;
    align-self: end;
    margin-top: 25px;
  }
  .div-8 {
    font-family: Poppins, sans-serif;
    align-self: end;
    margin-top: 25px;
  }
  .div-9 {
    font-family: Poppins, sans-serif;
    border-radius: 50px;
    border: 1px solid #e6a500;
    flex-grow: 1;
    justify-content: center;
    font-weight: 600;
    white-space: nowrap;
    padding: 18px 43px;
  }
  @media (max-width: 991px) {
    .div-9 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-10 {
    font-family: Poppins, sans-serif;
    border-radius: 50px;
    background-color: #e6a500;
    flex-grow: 1;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
    padding: 17px 48px;
  }
  @media (max-width: 991px) {
    .div-10 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-11 {
    background-color: #004264;
    margin-top: 20px;
    height: 1px;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    align-self: center;
    width: 100%;
    max-width: 1141px;
    margin: 61px 0 28px;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-13 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-13 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 58%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-14 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: auto 0;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-15 {
    color: #e6a500;
    font: 700 65px/80px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
      font-size: 40px;
      line-height: 54px;
    }
  }
  .div-16 {
    align-self: start;
    display: flex;
    margin-top: 41px;
    gap: 20px;
    color: #fff;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-16 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-17 {
    border-radius: 50px;
    background-color: #e6a500;
    flex-grow: 1;
    justify-content: center;
    padding: 17px 48px;
    font: 600 16px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-18 {
    align-self: start;
    margin-top: 20px;
    flex-grow: 1;
    font: 400 22px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-18 {
      white-space: initial;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .img-2 {
    aspect-ratio: 0.85;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-19 {
    align-self: end;
    display: flex;
    width: 825px;
    max-width: 100%;
    flex-direction: column;
    align-items: end;
    color: #fff;
    font-weight: 600;
    text-align: right;
    margin: 121px 119px 0 0;
  }
  @media (max-width: 991px) {
    .div-19 {
      margin: 40px 10px 0 0;
    }
  }
  .div-20 {
    font: 700 68px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-21 {
    color: #e6a500;
    margin-top: 14px;
    font: 66px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .div-22 {
    align-self: stretch;
    margin-top: 39px;
    font: 40px/137.5% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-22 {
      max-width: 100%;
    }
  }
  .div-23 {
    color: #979797;
    margin-top: 25px;
    font: 500 25px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-23 {
      max-width: 100%;
    }
  }
  .div-24 {
    align-self: center;
    margin-top: 104px;
    width: 100%;
    max-width: 1199px;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-25 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-25 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-26 {
    border-radius: 15px;
    border: 1px solid #004264;
    background-color: #001723;
    width: 100%;
    padding: 0 80px 37px 38px;
  }
  @media (max-width: 991px) {
    .div-26 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-27 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-27 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 21%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-28 {
    border-radius: 195px;
    border: 1px solid rgba(0, 43, 65, 0.1);
    background-color: #002b41;
    margin-top: -41px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84px;
    color: #e6a500;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.64px;
    padding: 0 32px;
    font: 600 64px/47% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-28 {
      font-size: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 79%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-29 {
    display: flex;
    margin-top: -22px;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
  }
  .div-30 {
    disply: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    color: #e6a500;
    white-space: nowrap;
    letter-spacing: 0.24px;
    padding: 299px 18px 1px;
    font: 600 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-30 {
      white-space: initial;
      padding-top: 40px;
    }
  }
  .img-3 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-31 {
    position: relative;
  }
  .div-32 {
    color: #fff;
    align-self: center;
    margin-top: 14px;
    font: 400 16px Poppins, sans-serif;
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-33 {
    border-radius: 15px;
    border: 1px solid #004264;
    background-color: #001723;
    display: flex;
    margin-top: 40px;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 0 67px 36px;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-34 {
    z-index: 10;
    margin-top: -38px;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
    }
  }
  .div-35 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-35 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 22%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-36 {
    border-radius: 195px;
    border: 1px solid rgba(0, 43, 65, 0.1);
    background-color: #002b41;
    justify-content: center;
    color: #e6a500;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.64px;
    width: 100%;
    padding: 19px 27px;
    font: 600 64px/47% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-36 {
      font-size: 40px;
      margin-top: 14px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 78%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-37 {
    display: flex;
    margin-top: 64px;
    flex-grow: 1;
    flex-direction: column;
    font-size: 24px;
    color: #e6a500;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.24px;
  }
  @media (max-width: 991px) {
    .div-37 {
      margin-top: 40px;
    }
  }
  .img-4 {
    aspect-ratio: 1.08;
    object-fit: auto;
    object-position: center;
    width: 240px;
    margin-left: 27px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-4 {
      margin-left: 10px;
    }
  }
  .div-38 {
    font-family: Poppins, sans-serif;
    margin-top: 20px;
  }
  .div-39 {
    color: #fff;
    text-align: center;
    align-self: end;
    margin-top: 23px;
    font: 400 16px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-39 {
      max-width: 100%;
    }
  }
  .div-40 {
    align-self: center;
    margin-top: 34px;
    width: 100%;
    max-width: 1199px;
  }
  @media (max-width: 991px) {
    .div-40 {
      max-width: 100%;
    }
  }
  .div-41 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-41 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-42 {
    border-radius: 15px;
    border: 1px solid #004264;
    background-color: #001723;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 80px 46px 35px;
  }
  @media (max-width: 991px) {
    .div-42 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-43 {
    align-self: stretch;
    z-index: 10;
    margin: -30px 13px 0 0;
  }
  @media (max-width: 991px) {
    .div-43 {
      max-width: 100%;
      margin-right: 10px;
      padding-right: 20px;
    }
  }
  .div-44 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-44 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 29%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-45 {
    border-radius: 195px;
    border: 1px solid rgba(0, 43, 65, 0.1);
    background-color: #002b41;
    justify-content: center;
    color: #e6a500;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.64px;
    width: 100%;
    padding: 19px 26px;
    font: 600 64px/47% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-45 {
      font-size: 40px;
      margin-top: 34px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 71%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 42px;
  }
  @media (max-width: 991px) {
    .img-5 {
      margin-top: 40px;
    }
  }
  .div-46 {
    color: #e6a500;
    text-align: center;
    letter-spacing: 0.24px;
    margin-top: 4px;
    font: 600 24px Poppins, sans-serif;
  }
  .div-47 {
    color: #fff;
    text-align: center;
    margin-top: 17px;
    font: 400 16px Poppins, sans-serif;
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-48 {
    border-radius: 15px;
    border: 1px solid #004264;
    background-color: #001723;
    display: flex;
    margin-top: 40px;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 0 44px 36px;
  }
  @media (max-width: 991px) {
    .div-48 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-49 {
    z-index: 10;
    margin-top: -28px;
  }
  @media (max-width: 991px) {
    .div-49 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-50 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-50 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-13 {
      width: 100%;
    }
  }
  .div-51 {
    border-radius: 195px;
    border: 1px solid rgba(0, 43, 65, 0.1);
    background-color: #002b41;
    justify-content: center;
    color: #e6a500;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.64px;
    width: 100%;
    padding: 19px 24px;
    font: 600 64px/47% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-51 {
      font-size: 40px;
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 65%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-14 {
      width: 100%;
    }
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 57px;
  }
  @media (max-width: 991px) {
    .img-6 {
      margin-top: 40px;
    }
  }
  .div-52 {
    color: #e6a500;
    text-align: center;
    letter-spacing: 0.24px;
    align-self: center;
    margin-top: 25px;
    white-space: nowrap;
    font: 600 24px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-52 {
      white-space: initial;
    }
  }
  .div-53 {
    color: #fff;
    text-align: center;
    margin-top: 24px;
    font: 400 16px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-53 {
      max-width: 100%;
    }
  }
  .div-54 {
    background-color: rgba(0, 23, 35, 1);
    border: 1px solid rgba(0, 66, 100, 1);
    display: flex;
    margin-top: 199px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-54 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-55 {
    display: flex;
    width: 100%;
    max-width: 1161px;
    flex-direction: column;
    margin: 46px 0 60px;
  }
  @media (max-width: 991px) {
    .div-55 {
      max-width: 100%;
      margin: 40px 0;
    }
  }
  .div-56 {
    color: #ffcc26;
    align-self: center;
    white-space: nowrap;
    font: 700 54px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-56 {
      font-size: 40px;
      white-space: initial;
    }
  }
  .div-57 {
    margin-top: 109px;
  }
  @media (max-width: 991px) {
    .div-57 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-58 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-58 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-15 {
      width: 100%;
    }
  }
  .div-59 {
    display: flex;
    margin-top: 14px;
    flex-grow: 1;
    flex-direction: column;
    font-size: 27px;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
  }
  @media (max-width: 991px) {
    .div-59 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-60 {
    color: #f3f3f3;
    align-self: center;
    font: 42px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-60 {
      max-width: 100%;
    }
  }
  .div-61 {
    border-radius: 205px;
    border: 1px solid #004264;
    background-color: #001b28;
    display: flex;
    margin-top: 51px;
    justify-content: space-between;
    gap: 20px;
    padding: 28px 0;
  }
  @media (max-width: 991px) {
    .div-61 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-62 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-62 {
      max-width: 100%;
    }
  }
  .div-63 {
    border-radius: 205px;
    border: 1px solid #004264;
    background-color: #001b28;
    display: flex;
    margin-top: 14px;
    justify-content: space-between;
    gap: 20px;
    padding: 28px 0 18px;
  }
  @media (max-width: 991px) {
    .div-63 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img-8 {
    aspect-ratio: 0.9;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-64 {
    font-family: Poppins, sans-serif;
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-64 {
      max-width: 100%;
    }
  }
  .div-65 {
    border-radius: 205px;
    border: 1px solid #004264;
    background-color: #001b28;
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
    gap: 20px;
    padding: 35px 0 21px;
  }
  @media (max-width: 991px) {
    .div-65 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img-9 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-66 {
    font-family: Poppins, sans-serif;
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-66 {
      max-width: 100%;
    }
  }
  .column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-16 {
      width: 100%;
    }
  }
  .img-10 {
    aspect-ratio: 0.81;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-10 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-67 {
    align-self: center;
    margin-top: 133px;
    width: 100%;
    max-width: 1200px;
  }
  @media (max-width: 991px) {
    .div-67 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-68 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-68 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-17 {
      width: 100%;
    }
  }
  .img-11 {
    aspect-ratio: 0.81;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-11 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .column-18 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-18 {
      width: 100%;
    }
  }
  .div-69 {
    display: flex;
    margin-top: 9px;
    flex-grow: 1;
    flex-direction: column;
    font-size: 27px;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-69 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-70 {
    color: #ffcc26;
    align-self: center;
    font: 42px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-70 {
      max-width: 100%;
    }
  }
  .div-71 {
    border-radius: 205px;
    border: 1px solid #004264;
    background-color: #001723;
    display: flex;
    margin-top: 58px;
    justify-content: space-between;
    gap: 20px;
    padding: 28px 0;
  }
  @media (max-width: 991px) {
    .div-71 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .img-12 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-72 {
    font-family: Poppins, sans-serif;
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-72 {
      max-width: 100%;
    }
  }
  .div-73 {
    border-radius: 205px;
    border: 1px solid #004264;
    background-color: #001723;
    display: flex;
    margin-top: 14px;
    justify-content: space-between;
    gap: 20px;
    padding: 28px 0;
  }
  @media (max-width: 991px) {
    .div-73 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img-13 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-74 {
    font-family: Poppins, sans-serif;
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-74 {
      max-width: 100%;
    }
  }
  .div-75 {
    border-radius: 205px;
    border: 1px solid #004264;
    background-color: #001723;
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
    gap: 20px;
    padding: 28px 0;
  }
  @media (max-width: 991px) {
    .div-75 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img-14 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-76 {
    font-family: Poppins, sans-serif;
    align-self: end;
    margin-top: 21px;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-76 {
      max-width: 100%;
    }
  }
  .div-77 {
    border: 1px solid #004264;
    background-color: #001723;
    display: flex;
    margin-top: 151px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
  }
  @media (max-width: 991px) {
    .div-77 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-78 {
    width: 100%;
    max-width: 1200px;
    margin: 107px 0 71px;
  }
  @media (max-width: 991px) {
    .div-78 {
      max-width: 100%;
      margin: 40px 0;
    }
  }
  .div-79 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-79 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-19 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-19 {
      width: 100%;
    }
  }
  .div-80 {
    display: flex;
    margin-top: 34px;
    flex-direction: column;
    font-size: 27px;
    color: #fff;
    font-weight: 500;
    line-height: 40px;
  }
  @media (max-width: 991px) {
    .div-80 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-81 {
    color: #ffcc26;
    align-self: center;
    font: 42px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-81 {
      max-width: 100%;
    }
  }
  .div-82 {
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    gap: 0px;
  }
  @media (max-width: 991px) {
    .div-82 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .img-15 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
    z-index: 10;
    margin: auto 0;
  }
  .div-83 {
    font-family: Poppins, sans-serif;
    border-radius: 205px;
    border: 1px solid #004264;
    background-color: #001b28;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 45px 60px;
  }
  @media (max-width: 991px) {
    .div-83 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-84 {
    border-radius: 205px;
    border: 1px solid #004264;
    background-color: #001b28;
    align-self: end;
    display: flex;
    margin-top: 14px;
    justify-content: space-between;
    gap: 20px;
    padding: 28px 0;
  }
  @media (max-width: 991px) {
    .div-84 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img-16 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-85 {
    font-family: Poppins, sans-serif;
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-85 {
      max-width: 100%;
    }
  }
  .column-20 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-20 {
      width: 100%;
    }
  }
  .img-17 {
    aspect-ratio: 0.78;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-17 {
      max-width: 100%;
      margin-top: 36px;
    }
  }
  .div-86 {
    align-self: center;
    margin-top: 135px;
    width: 100%;
    max-width: 1204px;
  }
  @media (max-width: 991px) {
    .div-86 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-87 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-87 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-21 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 42%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-21 {
      width: 100%;
    }
  }
  .img-18 {
    aspect-ratio: 0.74;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  @media (max-width: 991px) {
    .img-18 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .column-22 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 58%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-22 {
      width: 100%;
    }
  }
  .div-88 {
    display: flex;
    margin-top: 17px;
    flex-direction: column;
    font-size: 27px;
    color: #002b41;
    font-weight: 500;
    line-height: 40px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-88 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-89 {
    color: #ffcc26;
    font: 42px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-89 {
      max-width: 100%;
    }
  }
  .div-90 {
    border-radius: 205px;
    background-color: #fff;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    gap: 20px;
    padding: 28px 0;
  }
  @media (max-width: 991px) {
    .div-90 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .img-19 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-91 {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-91 {
      max-width: 100%;
    }
  }
  .div-92 {
    border-radius: 205px;
    background-color: #fff;
    display: flex;
    margin-top: 14px;
    justify-content: space-between;
    gap: 20px;
    padding: 28px 0;
  }
  @media (max-width: 991px) {
    .div-92 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .img-20 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 94px;
  }
  .div-93 {
    font-family: Poppins, sans-serif;
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
  }
  @media (max-width: 991px) {
    .div-93 {
      max-width: 100%;
    }
  }
  .div-94 {
    background-color: #002b41;
    display: flex;
    margin-top: 134px;
    width: 100%;
    padding-top: 50px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-94 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-95 {
    align-self: center;
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-95 {
      max-width: 100%;
    }
  }
  .div-96 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-96 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-23 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-23 {
      width: 100%;
    }
  }
  .div-97 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .div-97 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-98 {
    border-radius: 156px;
    border: 1px solid #004264;
    background-color: #001b28;
    display: flex;
    margin-top: 40px;
    padding-left: 18px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-98 {
      white-space: initial;
    }
  }
  .div-99 {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin: auto 0;
  }
  .div-100 {
    font-family: Poppins, sans-serif;
    border-radius: 156px;
    background-color: #e6a500;
    justify-content: center;
    font-weight: 600;
    padding: 18px 23px;
  }
  @media (max-width: 991px) {
    .div-100 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .column-24 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 19%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-24 {
      width: 100%;
    }
  }
  .div-101 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.32px;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-101 {
      margin-top: 40px;
    }
  }
  .div-102 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 187.5%;
  }
  .div-103 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 40px;
    margin-top: 30px;
  }
  .column-25 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-25 {
      width: 100%;
    }
  }
  .div-104 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.32px;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-104 {
      margin-top: 40px;
    }
  }
  .div-105 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 187.5%;
  }
  .div-106 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 40px;
    margin-top: 31px;
  }
  .column-26 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 21%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-26 {
      width: 100%;
    }
  }
  .div-107 {
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.32px;
    line-height: 187.5%;
  }
  @media (max-width: 991px) {
    .div-107 {
      margin-top: 40px;
    }
  }
  .div-108 {
    font-family: Poppins, sans-serif;
  }
  .img-21 {
    aspect-ratio: 6.67;
    object-fit: auto;
    object-position: center;
    width: 196px;
    align-self: center;
    margin-top: 29px;
  }
  .div-109 {
    background-color: #001b28;
    margin-top: 88px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    white-space: nowrap;
    letter-spacing: 0.28px;
    padding: 22px 60px;
    font: 500 14px/129% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-109 {
      max-width: 100%;
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }