.historypage{
    background-color: #001B28;
    
}
.history-component{
    padding: 0 3vw;
}
.HistoryCards{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 600px) {
    .historypage{
        width: 100vw;
        background-color: #001B28;
        
    }
    .HistoryCards{
        grid-template-columns: 1fr;
        gap: 5px;
    }
}