.main-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-color :black;
}

.PresentationContainer {
  position: relative;
  width: 960px; /* Same as iframe width */
  height: 569px; /* Same as iframe height */
}

.GooglePresentation {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%;
  max-width: 960px; /* Maximum width of the presentation */
}

.GooglePresentation iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.WatermarkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.WatermarkOverlay span {
  white-space: nowrap;
}

.presentation-viewing-container {
  height: fit-content;
  width: 94vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;
}
.presentation-viewing-side{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.5vw;
  flex-basis: 50%;
  /* background-color: #fff; */
 
}
.share-export{
  padding: 3vw 0;
  height: 3.5vw;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.presentation-viewing-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  z-index: 0;
}
.presentation-viewing-center input{
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-width: 0cap;
  font-size: x-large;
  text-align: center;
  width: 10vw;
  padding: 1vw;
}
.presentation-view-slides{
  display: flex;
  justify-self: center;
  background-color:aliceblue;
  width: 80%;
  height: 75vh;
  border-radius: 2cqb;
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
}
.presentation-view-slides::-webkit-scrollbar {
  width: 12px; /* Adjust as needed */
}
.copy-message {
  color: white;
}
.presentation-view-slides::-webkit-scrollbar-thumb {
  background-color: #e6a500;
  border-radius: 10px;
}

.presentation-view-slides::-webkit-scrollbar-track {
  background-color: transparent;
}
.presentation-viewing-center button {
  cursor: pointer;
  height: 5vh;
  width: 15vh;
  background-color: #e6a500;
  color: white;
  padding: 0px 10px 0px 10px;
  border: none;
  border-radius: 3.25vh;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #E6A500;
  text-align: center;
}

.export-bttn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; /* Replace with your desired background color */
}

.presentation-view-slides {
  /* pointer-events: none; */
}


