/* Card.css */

.card {
  display: flex;
  width: 100%;
  height: max-content;
  margin-bottom: 20px;
  background: #001B28;
  border: 1px solid #004264;
  border-radius: 5px;
  overflow: hidden;
}
/* .card-image {
} */

.card-image iframe {
  height: 12vw;
  width: 20vw;
  border-radius: 5%;
  margin: 5%;
}

.card-content {
  flex: 1;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
}

.card-content h2 {
  margin-top: 0;
  /* font-family: Poppins; */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}
.card-content h2 span{
  color: #999999;
  font-weight: 400;

}
.card-content h2 a{
  color: #0085FF;
  text-decoration: underline;
  font-weight: 400;

}
.card-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-buttons{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;

}

.card-buttons button{
  width: 45%;
  height: 90%;
  border-radius: 10vw;
  /* font-family: Poppins; */
  font-size: 80%;
  font-weight: 600;
  /* line-height: 24px; */
  letter-spacing: 0em;
  text-align: center;

}

.sharebutton{
  color: #E6A500;
  background: white;
  border: 1px solid #E6A500;
}
.exportbutton{
  color: white;
  background: #E6A500;
  border: 1px solid white;
 
}




@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
  
  .card-image {
    flex: none;
  }
}
