.yellow-bg-button, .add-bg-button {
  background-color: #eab308;
  /*border-radius: 12px; /* Adjust the value as needed for the desired roundness */
  padding: 4px 4px; /* Adjust padding as needed */
  border: none; /* Remove border if necessary */
  color: #fff; /* Text color */
  cursor: pointer; /* Show pointer cursor on hover */
  border: 1px solid black;
  border-radius: 9px;
  font-size: 1vw;
}
