.file-info {
  display: flex;
  align-items: center; /* Center items vertically */
}
.text-input-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
}

.text-input-logo-remove {
  display: flex;
  flex-direction: row;
  width: 15%;
  height: 20px;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
 background-color: #eab308;
 color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1vw;
}

.text-input-logo-filename {
  width: 85%;
  height: 20px;
  font-size: 1vw;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-input-logo-remove button {
  width: 100%;
  font-size: 1vw;
  cursor: pointer;
}
