/* ColorPicker.css */
/* Reduce the overall height and width of the BlockPicker */
.block-picker {
  width: 200px; /* Adjust width as needed */
}
.block-picker input {
  background-color: transparent;
  font-family: Poppins !important; 
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  border: 1px solid #004264 !important;
}
.block-picker span{
    display: none;
}