.native-form {
  overflow-y: hidden !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden !important;
}
.form-details {
  width: fit-content;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 5vw 1vh 5vw;
  background-color: #001723;
  border: 2px solid #004264;
  border-radius: 20px;
}
.section-name {
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  width: 100%;
}
.section-name h1 {
  font-size: 20px;
  color: #e6a500;
}
.progress-bar {
  width: 100% !important;
  height: 5px !important;
}
.form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 40vw;
  gap: 15px;
}
.textInputQuestions {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.textareaInputQuestions {
  width: 95%;
}
.form-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 5px 0px 5px;
}
.form-area label {
  width: 100% !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #cececd;
}
.table-contents {
  color: whitesmoke;
  text-align: left;
}
.table-contents th {
  width: 25%;
  font-size: 15px;
  font-weight: 200;
}
.table-contents td {
  padding-right: 10px;
}
.table-contents td input {
  width: 120px !important;
}

.table-contents-useoffunds {
  color: whitesmoke;
  text-align: left;
}
.table-contents-useoffunds th {
  width: 100%;
  font-size: 15px;
  font-weight: 200;
}
.table-contents-useoffunds td {
  padding-right: 10px;
}
.table-contents-useoffunds td input {
  width: 180px !important;
}

.form-area input {
  width: 97% !important;
  background-color: #001b28;
  border: 1px solid #004264;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  height: 24px !important;
  text-align: left;
  color: #bfbfbf;
  padding: 5px 0px 3px 10px;
}
.form-area input:focus {
  outline: none;
  border: 0.5px solid #e6a500; /* replace with your preferred color */
  caret-color: #e6a500;
}
.form-area select:focus {
  outline: none;
  border: 0.5px solid #e6a500; /* replace with your preferred color */
  caret-color: #e6a500;
}
.form-area textarea:focus {
  outline: none;
  border: 0.5px solid #e6a500; /* replace with your preferred color */
  caret-color: #e6a500;
}
.form-area select {
  width: 99% !important;
  height: 35px !important;
  background-color: #001b28;
  border: 1px solid #004264;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px !important;
  text-align: left;
  color: #bfbfbf;
  padding: 5px 0px 3px 0px;
}
.form-area textarea {
  width: 94% !important;
  background-color: #001b28;
  border: 1px solid #004264;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px !important;
  text-align: left;
  color: #bfbfbf;
  padding: 5px 15px 3px 10px;
}
.color-picker {
  border: none;
}
.color-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  gap: 10px;
}
@media only screen and (max-width: 800px) {
  .color-picker {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .primary-color {
    width: 100% !important;
  }
  .secondary-color {
    width: 100% !important;
  }
}
.primary-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 50%;
  height: 100%;
}
.secondary-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 50%;
  height: 100%;
}
.color-box {
  width: 100%;
  height: fit-content;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  border-top: 0.5px solid #004264;
}
.form-buttons button {
  color: white;
  background-color: #e6a500;
  border: 1px solid #e6a500;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  width: 60%;
  border-radius: 30px;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}
.form-back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}
.form-next-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}
.testimonial-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.testimonial-row input {
  width: 24.5% !important;
}
.testimonial-row textarea {
  width: 93% !important;
}
.testimonial-row img {
  padding-top: 5px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}
.testimonial-row .close-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 12px;
  cursor: pointer;
}
.competitor-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 95%;
}
.competitor {
  width: 100%;
  height: 34px;
}
.close-button-competition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 34px;
}
.close-button-competition img {
  height: fit-content;
  width: 12px;
  cursor: pointer;
}
.uploadedimages {
  color: #bfbfbf;
}
.add-row-button {
  background-color: #787777;
  border: 1px solid #787777;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  color: white;
  padding: 5px 15px 3px 10px;
  width: 30%;
  height: 30px;
}

.team-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.team-row input {
  width: 22% !important;
}
.team-row textarea {
  width: 60% !important;
}
.team-row img {
  height: 10px;
  width: 10px;
  cursor: pointer;
}
.file-close-container.close-button {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  height: 90px;
}
.file-close-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 19%;
  height: 55%;
}
.file-close-container input {
  width: 90% !important;
  height: 30px;
  background-color: transparent;
  border: none;
}
.form-next-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.trackRecord-to-from {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.trackRecord-to-from label {
  width: 10% !important;
  text-align: right;
  padding-right: 30px;
}
.trackRecord-to-from select {
  width: 40% !important;
}
.trackRecord-details {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 3px;
  padding-top: 10px;
}
