.key-features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}
.key-features-heading {
  font-family: Poppins;
  font-size: 54px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: left;
  color: #e6a500;
  padding-bottom: 25px;
  padding-top:50px ;
}
.key-feature-t1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 40px 0px 40px 0px;
}
.key-feature-t1-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  gap: 40px;
}
.key-feature-t1-heading {
  font-family: Poppins;
  font-size: 42px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
  color: #e6a500;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
}
.key-feature-t1-points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 40px;
  gap: 20px;
  width: 100%;
}
.key-feature-t1-point {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 15vh;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 27px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  border-radius: 7.5vh;
  border: 2px solid #004264;
}
.key-feature-t1-point-inside {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.key-feature-t1-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.key-feature-t1-image img {
  padding-left: 80px;
  height: 90%;
  width: auto;
}
.key-feature-t1-point-icon {
  position: relative;
  top: 5px;
  left: -8%;
}
.key-feature-t1-point-icon img {
  width: 70px;
  height: 70px;
}



.key-feature-t2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 40px 0px 40px 0px;
}
.key-feature-t2-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  gap: 40px;
}
.key-feature-t2-heading {
  font-family: Poppins;
  font-size: 42px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
  color: #e6a500;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}
.key-feature-t2-points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  gap: 20px;
  width: 100%;
}
.key-feature-t2-point {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 15vh;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 27px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  border-radius: 7.5vh;
  border: 2px solid #004264;
}
.key-feature-t2-point-inside {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.key-feature-t2-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.key-feature-t2-image img {
  padding-right: 80px;
  height: 90%;
  width: auto;
}
.key-feature-t2-point-icon {
  position: relative;
  top: 5px;
  left: -8%;
}
.key-feature-t2-point-icon img {
  width: 70px;
  height: 70px;
}



@keyframes enter-animation-r2l {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes enter-animation-l2r {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation-right-to-left {
    animation: enter-animation-r2l 2s 1;
  }
  .image-animation-left-to-right {
    animation: enter-animation-l2r 2s 1;
  }
}
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Adjust as needed */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #004264; /* Change the background color */
  border-radius: 5px;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #e6a500; /* Change the color of the scrollbar handle */
}
