.hero {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 80vh;
  width: 92vw;
}

@media (max-width: 991px) {
  .hero {
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.hero-image {
  width: 50%;
  padding-left: 5vw;
}
.hero-image img {
  height: 100%;
  width: auto;
}
.hero-text {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 8vw;
}
.hero-title {
  display: flex;
  width: fit-content;
  flex-direction: column;
  font-family: Poppins;
  font-size: 65px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}
.hero-title-r1 {
  width: auto;
  color: white;
}
.hero-title-r2 {
  width: auto;
  display: flex;
  flex-direction: row;
  color: white;
}
.hero-title-r2-c1 {
  width: auto;
  color: #e6a500;
}
.hero-title-r2-c2 {
  width: auto;
}
.hero-title-r3 {
  width: auto;
  color: white;
}

.hero-buttons {
  height: 30%;
  width: 100%;
  gap: 20px;
  color: #fff;
}
.hero-buttons-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vw 8vw;
  justify-content: flex-start;
  gap: 20px;
  height: 6vh;
  width: 90%;
}
.hero-signup {
  height: 6vh;
  width: 18vh;
  border-radius: 7.5vh;
  background-color: #e6a500;
  justify-content: center;
  white-space: nowrap;
  font: 600 16px Poppins, sans-serif;
  font-weight: 700;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.hero-powered {
  font: 400 22px Poppins, sans-serif;
}
.hero-asset {
  position: absolute;
  top: -8vh;
  left: 0px;
  z-index: -1;
}
.hero-asset1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.hero-asset2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation-name: floatingasset;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@keyframes floatingasset {
  0% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@media (max-width: 991px) {
  .hero-content {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .hero-title {
    max-width: 100%;
    font-size: 40px;
    line-height: 54px;
  }
}

@media (max-width: 991px) {
  .hero-buttons {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .hero-signup {
    white-space: initial;
    padding: 0 20px;
  }
}
