/* components/shared/Navbar.css */
.app-nav {
  background-color: #001723;
  border-bottom: 1px solid #004264;
}

.app-navbar-container {
  display: flex;
  height: 55px;
  padding: 0.3vh;
  justify-content: center;
  align-items: center;
}
.app-navbar-logo-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1vw;
}
.app-navbar-generateppt-container {
  width: 33%;
  font-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-navbar-details-container {
  /* background-color: yellow; */
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 20px;
  padding-right: 1vw;
}

.app-navbar-logo-container img {
  width: 130px;
  height: auto;
}

.app-navbar-generateppt-container button {
  cursor: pointer;
  width: 250px;
  height: fit-content;
  border-radius: 50px;
  font-size: 100%;
  font-weight: 600;
  background-color: #e6a500;
  color: rgb(255, 255, 255, 1);
  border: 3px solid #e6a500;
  z-index: 10;
}
.app-navbar-generateppt-container button:hover {
  color: #e6a500;
  background-color: rgb(255, 255, 255, 1);
}
.app-navbar-generateppt-container button:hover img {
  background-color: #e6a500;
  border-radius: 5px;
  border: 3px solid #e6a500;
}

.app-button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.app-navbar-generateppt-container button img {
  /* position: relative; */
  width: 18px;
  height: auto;
  border: 3px solid transparent;
}

.app-navbar-details-container button {
  width: 130px;
  height: fit-content;
  border-radius: 50px;
  font-weight: 400;
  text-align: center;
  background-color: #004264;
  color: rgb(255, 255, 255, 0.8);
  border: 2px solid #004264;
  z-index: 10;
}

.app-navbar-details-container button:hover {
  color: #004264;
  background-color: rgb(255, 255, 255, 0.8);
}

.app-user {
  font-size: 35px;
  font-weight: 800;
  color: aliceblue;
  background-color: #001723;
  width: 35px;
  height: auto;
  border-radius: 20px;
}
