/* ############################################################################################*/

/* ===============================  F O O T E R  ==================================== */
.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===============================  FIRST = F O O T E R  ==================================== */

.subscriber_head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #001723;
  width: 100%;
  height: fit-content;
  padding: 30px 0px 30px 0px;
  border-top: 1px solid #004264;
}
.free_daily_updates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  color: whitesmoke;
}
.free_daily_updates label {
  width: 30vw;
  height: fit-content;
  text-align: right;
  padding-right: 20px;
  font-size: 30px;
  vertical-align: middle;
  font-weight: 600;
}
.subscriber_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}
.subscriber_search_box {
  margin: auto;
  display: flex;
  width: 100%;
  grid-area: input;
}
.subscriber_search_box input:focus{
    outline: none;
}
.subscriber_search_bar {
  width: 30vw;
  max-width: 100%;
  font-family: inherit;
  color: #435978;
  font-weight: 500;
  border-radius: 50px 0px 0px 50px;
  border: 0px;
  padding: 15px 0px 15px 20px;
  font-size: 14px;
  background: #f0f4ef;
}
.subscriber_button {
  border: 0px;
  width: 150px;
  max-width: 100%;
  font-size: 700;
  padding: 15px;
  font-size: 1rem;
  color: white;
  letter-spacing: 4px;
  font-family: sans-serif;
  background: #001723;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  border-radius: 0px 50px 50px 0px;
  outline: 0;
  transition: all 0.2s;
  border: 2px solid white;
}
.subscriber_button:hover {
  background: #e6a500;
}

/* ===============================  FIRST = F O O T E R = ENDS ==================================== */

/* ===============================  MID = F O O T E R  ==================================== */
.subscriber_mid {
  background-color: #001723;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.first_para {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: flex-start;
  height: 200px;
}
.first_para_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 60px;
}
.first_para_logo img {
  width: 130px;
  height: auto;
}
.first_para_details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 140px;
  padding-left: 5px;
}
.first_para_details a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
.first_para_details a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.middle_para {
  display: flex;
  width: 30%;
  justify-content: center;
  height: 200px;
}
.middle_para_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.middle_para_details a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
.middle_para_details a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.last_para {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: flex-start;
  height: 200px;
}
.last_para_title {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 60px;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}
.social-media-icons {
  padding-left: 150px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 140px;
}
.social-media-icons img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.social-media-icons img:hover {
    padding-top: 3px;
}

/* ====================================== MID = F O O T E R  ENDS ======================================= */

/* ====================================== LAST = F O O T E R  STARTS ======================================= */
.subscriber_last {
  background-color: #e6a500;
  height: fit-content;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* ====================================== LAST = F O O T E R  ENDS ======================================= */

/* -----------------------------MEDIA QUERIES----------------------------- */

@media only screen and (max-width: 992px) {
  .subscriber_head {
    grid-template-columns: 0.5fr 2.5fr 0.5fr;
  }
  #free_daily_updates {
    display: none;
  }

  .quick_signup {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .subscriber_head {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .subscriber_mid {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
    grid-template-rows: 0.9fr 0.01fr 0.9fr 0.01fr 0.9fr;
    grid-template-areas:
      "first"
      "horizontal"
      "second"
      "horizontal2"
      "last";
    height: 100%;
    grid-gap: 0px;
  }

  .first_para {
    margin-left: 3%;
  }

  .middle_para {
    flex-wrap: wrap;
  }

  .last_para {
    text-align: center;
  }

  .footer_mid_subscriber_button {
    margin-right: 0;
  }

  .vertical {
    display: none;
  }

  .vertical2 {
    display: none;
  }

  .vertical3 {
    display: none;
  }

  .horizontal {
    border-bottom: 1px solid #0000004d;
    grid-area: horizontal;
  }

  .horizontal2 {
    border-bottom: 1px solid #0000004d;
    grid-area: horizontal2;
  }

  .contacts h4 {
    text-align: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .contacts {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .icon_section {
    margin-left: 0%;
    justify-content: center;
  }

  .footer_mid_icons_inner {
    font-size: 3rem;
  }

  .subscriber_last {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1%;
  }

  .footer_logo_last {
    text-align: center;
  }

  .footer_last_mid_para {
    text-align: center;
  }

  .footer_last_last_para {
    text-align: center;
  }

  .footer_last {
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  .subscriber_head {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .subscriber_mid {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
    grid-template-rows: 0.5fr 0.01fr 0.5fr 0.01fr 0.5fr;
    grid-template-areas:
      "first"
      "horizontal"
      "second"
      "horizontal2"
      "last";
    height: 100%;
    grid-gap: 0px;
  }

  .horizontal {
    border-bottom: 1px solid #0000004d;
    grid-area: horizontal;
  }

  .horizontal2 {
    border-bottom: 1px solid #0000004d;
    grid-area: horizontal2;
  }

  .middle_para {
    text-align: left;
  }

  .footer_About {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8.4%;
    margin-right: 8.4%;
  }

  .footer_About_head {
    font-size: 1.4rem;
  }

  .footer_About_links {
    font-size: 1.6rem;
  }

  #footer_first_head {
    font-size: 2rem;
  }

  .footer_para h5 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 502px) {
  .subscriber_mid {
    grid-template-rows: 0.9fr 0.01fr 2.5fr 0.01fr 0.3fr;
  }
}
