.home-nav {
  background-color: #001723;
  border-bottom: 1px solid #004264;
}
.home-navbar-container {
  display: flex;
  height: 55px;
  padding: 0.3vh;
  justify-content: space-between;
  align-items: center;
}
.home-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 1vw;
  width: 50%;
}
.home-icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-navbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1vw;
  width: 50%;
  padding-right: 1vw;
}
.home-navbar-button1 {
  padding: 1vh;
  width: 90px;
  height: fit-content;
  background-color: transparent;
  border: 2px solid #e6a500;
  border-radius: 20px;
  color: #e6a500;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.home-navbar-button2 {
  padding: 1vh;
  width: 90px;
  height: fit-content;
  background-color: #e6a500;
  border: 2px solid #e6a500;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.home-navbar-logo {
  width: 130px;
  height: auto;
  cursor: pointer;
}
