.home-nav {
  background-color: #001723;
  border-bottom: 1px solid #004264;
}
.home-navbar-container {
  display: flex;
  height: 55px;
  padding: 0.3vh;
  justify-content: space-between;
  align-items: center;
}
.home-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 1vw;
  width: 50%;
}
.home-icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-navbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
  width: 50%;
  padding-right: 1vw;
}
/* Base styles */
.home-navbar-section-button,
.home-navbar-button1,
.home-navbar-button2 {
  padding: 1vh;
  width: 10vw;
  height: fit-content;
  background-color: transparent;
  color: #e6a500;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5vw;
  font-size: calc(0.8vw + 0.8vh); /* Responsive font size */
}

.home-navbar-button1 {
  border: 1.5px solid #e6a500;
}

.home-navbar-button2 {
  background-color: #e6a500;
  border: 2px solid #e6a500;
  color: white;
}

.home-navbar-logo {
  width: 130px;
  height: auto;
  cursor: pointer;
}
/* Styles for dropdown */
.dropdown-mobile {
  display: none;
}

.dropdown-btn {
  padding: 1vh;
  width: 10vw;
  height: fit-content;
  background-color: transparent;
  border: none;
  color: #e6a500;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  z-index: 1;
}

.dropdown-content a {
  color: #e6a500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-mobile:hover .dropdown-content {
  display: block;
}

/* Styles for Log In and Get Started buttons */
.home-navbar-button1,
.home-navbar-button2 {
  padding: 1vh;
  width: 10vw;
  height: fit-content;
  background-color: transparent;
  border: 1.5px solid #e6a500;
  border-radius: 5px;
  color: #e6a500;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.home-navbar-button2 {
  background-color: #e6a500;
  border: 2px solid #e6a500;
  color: white;
}

.hamburger-icon{
 font-size: medium;
}

@media screen and (max-width: 576px) {
  .home-navbar-section-button {
    display: none;
  }

  .dropdown-mobile {
    display: inline-block;
  }

  .dropdown-btn:hover + .dropdown-content,
  .dropdown-content:hover {
    display: block;
    transform: translateX(-70%);
  }
  .home-navbar-button1,
  .home-navbar-button2 {
    display: inline-block;
    width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home-navbar-button1 {
    margin-right: 5%;
  }
  .home-navbar-button2{
    display: none;
  }
  
  .dropdown-btn {
    display: inline-block;
  }
}



