nav {
    background-color: #001723;
    padding: 10px;
  }
  
  .navbar-container {
    height: 5vh;
    display: flex;
    justify-content: center; /* Use space-between to push the links and image to the edges */
    align-items: center;
  }
  