
.login-nav {
  background-color: #001723;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #004264;
}
.login-navbar-container {
  display: flex;
  height: 55px;
  padding: 0.3vh;
  justify-content: center;
  align-items: center;
}
.login-navbar-logo {
  width: 130px;
  height: auto;
}

