/* components/shared/Navbar.css */
nav {
  background-color: #001723;
  padding: 10px;
}

.navbar-container {
  height: 5vh;
  display: flex;
  justify-content: space-between; /* Use space-between to push the links and image to the edges */
  align-items: center;
}

.navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the links horizontally */
}

.navbar-links li {
  margin-right: 15px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

.profile-image {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  border-radius: 50%; /* Make it circular */
  margin-right: 10px; /* Add some spacing between the image and the text */
}
